body {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin: 0px;
	padding: 0px;
}

#tudo {
	width: 100%;
	min-height: 100%;
	background-color: Bisque;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

#parte1 {
	position: relative;
	width: 25%;
	height: 50px;
	background-color: PaleVioletRed;
	float: left;
}

#parte2 {
	position: relative;
	width: 25%;
	height: 50px;
	background-color: Thistle;
	float: left;
}

#parte3 {
	position: relative;
	width: 25%;
	height: 50px;
	background-color: PaleTurquoise;
	float: left;
}

#parte4 {
	position: relative;
	width: 25%;
	height: 50px;
	background-color: MistyRose;
	float: left;
}

#topo {
	position: absolute;
	width: 100%;
	height: 25px;
	background-color: Pink;
	vertical-align: top;
	float: left;
}

#rodape {
	position: absolute;
	width: 100%;
	height: 25px;
	background-color: Pink;
	vertical-align: bottom;
	text-align: center;
	float: left;
	bottom: 0;
}
